* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */

  height: 400px;
  width: 600px;
  outline: 25px solid black;
  /* position: relative; */
}

.circle {
  /* margin-left: 45%;
  margin-top: 25%; */
  position: relative;
  height: 80px;
  width: 80px;
  /* outline: 1px; */
  background-color: blue;
  border-radius: 50%;
  left: 0;
  /* left: 50%; */
}
