.container {
    font-size: 30px;
    color: black;
    background: blue;
}
#searchTerm{
    background:rgb(129, 129, 160);
    outline: 2px solid rgb(21, 108, 179);
    color: white;
}

.list{
    column-count: 3;
}

img {
    width: 40%;
  }
  
 .nav-collapse{
    background: rgb(74, 68, 122);
    height: 6vh;

 }

 .nav-collapse a {
     color: white;
     display: inline-block;
     padding: 0.8em 3.5em;
     text-decoration: none;

 
 }

  .nav-collapse ul {
	margin: 1em 0 .5em;
	text-align: center;
  }
  

  .nav-collapse li {
    display: inline;
  }
  


  