.container {
    font-size: 30px;
    color: black;
    background: blue;
}
#searchTerm{
    background:rgb(129, 129, 160);
    outline: 2px solid rgb(21, 108, 179);
    color: white;
}

.list{
    column-count: 3;
}

img {
    width: 40%;
  }
  