* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.container {
  display: flex;
  height: 400px;
  width: 600px;
  max-width: 80%; /* make it like flex not over 80% when shrink */
  outline: 25px solid black;
  /* border: 25px solid black; */
  /* border-radius: 10px; */
}

.circle {
  margin: auto;
  position: relative;
  height: 80px;
  width: 80px;
  background-color: blue;

  border-radius: 50%;
  left: 0;
}

.control {
  position: fixed;
  left: 50%;
  top: 87%;
  transform: translate(-50%, -50%); /*fix it to center div */
}

.left-right-arrow {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.up-down-arrow {
  display: flex;
  /* background: red; */
  justify-content: center;

  /* text-align: center; */
}

.reset {
  position: absolute;
  background: white;
  margin-top: 17rem;
  margin-left: 15rem;
  height: 30px;
  width: 100px;
  opacity: 0.8;
  cursor: pointer;
  /* border: 3px solid rgb(0, 0, 3); */
  border-radius: 10px;
  font-size: 14px;
  border: 2px solid black;
  outline: none;
}
.reset:active {
  opacity: 0.4;
  /* border: none; */
  outline: none;
  border: 2px solid black;
}

.fas.fa-arrow-circle-left.fa-3x:active,
.fas.fa-arrow-circle-right.fa-3x:active,
.fas.fa-arrow-circle-up.fa-3x:active,
.fas.fa-arrow-circle-down.fa-3x:active {
  opacity: 0.3;
}

@media (max-width: 461px) {
  .reset {
    margin-left: 9rem;
    text-align: center;
  }
  .control {
    margin-top: 0rem;
  }
  .container {
    margin-top: -7rem;
  }
}

@media (max-height: 800px) {
  .control {
    margin-top: -2rem;
  }
}
