* {
  margin: 0;
  padding: 0;
}

.bodyy:before {
  content: "sadadsdasdsdadsdadasdasdsaddasdadssdadadassdas";
  position: absolute;
  top: 0;
  left: 0;

  /* width: 100%;
  height: 100%; */
  z-index: -1;
  /* background-color: black; */
  color: white;
  width: 100vw;
  height: 100vh;
  background: url("asset/shutterstock_615829181.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  background: url("asset/shutterstock_615829181.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 100%;
  height: 100vh;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  background: url("./asset/bk color.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  /* background-repeat: no-repeat;
  background-size: cover;
  background: url("asset/shutterstock_615829181.png"); */
}

#humen {
  position: absolute;
  z-index: -1;
  /* object-fit: cover; */
  width: 100vw;
  height: 100vh;
}

#rest {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#logo {
  object-fit: contain;
  margin-left: 3rem;
  margin-top: 2rem;
}

#icon {
  object-fit: contain;
  margin-right: 6rem;
  margin-top: 6rem;
  /* position: absolute;
  left: 55rem;
  top: 2rem; */
  opacity: 0.7;
}

#rest2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: red; */
  /* position: relative;
  top: 2rem; */
}

#title {
  width: 481px;
  height: 41px;
  top: 5rem;
  /* right: 10rem;
  left: 2rem;
  top: 1rem; */
  right: 3rem;
  position: relative;
  object-fit: contain;
  z-index: 30;
}

#subtitle {
  margin-top: 2rem;
  width: 410px;
  height: 90px;
  text-align: center;
  /* margin: 0 auto; */
  z-index: 10;
  object-fit: contain;
  position: relative;
  right: 5rem;
  top: 5rem;
}
